name: Build & Test GitLab

on:
  push:
    branches: [issue/*, feature/*, update/*]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build Docker image
        run: |
          export RELEASE=$(grep "RELEASE_VERSION=" Dockerfile | sed 's|^.*=||g' |awk '{print $1}')
          docker build . --file Dockerfile --tag polinux/gitlab-ce:$RELEASE
      - name: Test image
        run: |
          export RELEASE=$(grep "RELEASE_VERSION=" Dockerfile | sed 's|^.*=||g' |awk '{print $1}')
          docker run -d -p 80:80 --name gitlab -e BACKUP_TIME="0 15 * * *" polinux/gitlab-ce:$RELEASE
          while true; do if docker logs gitlab | grep "GET /database HTTP/1.1" 200"; then break; else sleep 30; fi done
          curl -sSLi --head http://127.0.0.1 | grep "HTTP/1.1 200 OK"
      - name: Stage Image
        run: |
          export RELEASE=$(grep "RELEASE_VERSION=" Dockerfile | sed 's|^.*=||g' |awk '{print $1}')
          docker tag polinux/gitlab-ce:$RELEASE polinux/gitlab-ce:stage
          docker login  -u ${{ secrets.DOCKER_HUB_USER }} -p ${{ secrets.DOCKER_HUB_PASS }}
          docker push polinux/gitlab-ce:stage